<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automobiles" parallel="tests"  thread-count="5">
  <test thread-count="5" name="EconomyCars">
    <classes>
      <class name="automobiles.Toyota">
      <methods>
      <exclude name = "Qualis">
      </exclude>
      </methods>
      </class>
     <class name="automobiles.TATA"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="VWCars">
  <classes>
     <class name="automobiles.Skoda">
      <methods>
      <exclude name = "Octavia">
      </exclude>
      </methods>
      </class>
      <class name="automobiles.VW"/>
      </classes>
  </test> 
</suite> <!-- Suite -->
